/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&family=Train+One&display=swap');


/* Set the background color for my page: currently gradient blues */
body{
    background-image: linear-gradient(to bottom,rgb(255,255,255),rgb(10,189,198),rgb(19,62,124),rgb(9,24,51));
 
}

h1 {
    color:black;
    font-family: 'Train One', cursive;
    font-size: 50px;
    text-align: center;
    
}

/* Choose the appearance of the tags, h2, h3 and p...: */
h2, h3, h4, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;

}
    
.myWeek1{
    margin: auto;
    max-width: 800px;
    background-color: rgb(215, 248, 253);


    border-width: 8px;
    border-style: dotted;
    border-radius: 30px
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(172, 240, 195);
    width: 350px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(117, 119, 122);
    display: block;
    margin-left: 25%;
    margin-right: 10%;
    width: 52.5%;
    
    
}
 


#Chart2 {
    border-color: rgb(117, 119, 122);
    width:400px;
    height:382px;
    
    
}

#Chart3 {
    border-color: rgb(117, 119, 122);
    height: 390px;
    width:405px
}

hr {
    border: 0;
    border-top: 2px dotted;
    border-bottom: 2px solid;
    height: 3px;
    
}
