/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&family=IBM+Plex+Sans:wght@500&family=Rampart+One&family=Train+One&display=swap');

/* Set the background color for my page: currently gradient blues */
body{
    background-image: linear-gradient(to bottom,rgb(255,255,255),rgb(10,189,198),rgb(19,62,124),rgb(9,24,51));
}

/* Buttons */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 5px dotted #212020;
    background-color: #0c0255;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(240, 233, 233);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 14px 135px;
    text-decoration: none;
  }


/* Change the link colour when you hover over one of the navigation buttons and colour shows what bar your on*/
li.active {
    background-color: #04AA6D;
}

li a:hover:not(.active) {
    background-color: rgb(221, 147, 248); /*colour of hover*/
}

/* for the line seperators */
hr {
    border: 0;
    border-top: 2px dotted;
    border-bottom: 2px solid;
    height: 3px;
    
}

h1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    
}

/* Choose the appearance of the tags, h2, h3 and p...: */
h2, h3, h4, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

    
.myWeek1{
    margin: auto;
    max-width: 1200px;
    background-color: rgb(215, 248, 253);



}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(172, 240, 195);
    width: 350px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(117, 119, 122);
    display: block;
    width:35%;

}
    
 
#Chart2, #Chart1 {
    border-color: rgb(117, 119, 122);
    width:420px;
    height:382px; 
    margin-left: 34%;
    margin-right: 10%;; 
    
}

#Chart3, #Chart4{
    border-color: rgb(117, 119, 122);
    height: 390px;
    width:570px;
    display: block;
    margin-left: 27%;
    margin-right: 10%;;
    width:47.5%;
    
}

#Chart5, #Chart6{
    border-color: rgb(117, 119, 122);
    height: 380px;
    width:570px;
    display: block;
    margin-left: 20%;
    margin-right: 10%;;
    width:63.5%;
    
}

#Chart7 {
    border-color: rgb(117, 119, 122);
    height: 390px;
    width:200px;
    display: block;
    margin-left: 27%;
    margin-right: 10%;
    width: 47.8%;

}
a:link {
    color: rgb(162, 10, 217);
    display:block;
    
}

#Chart8, #Chart9, #Chart10, #Chart11, #Chart12, #Chart13, #Chart14, #Chart15, #Chart16 {
    border-color: rgb(117, 119, 122);
    border-width: 4px;
    height: 284px;
    width:150px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 1%;
    width:30%;

}

#Chart17 {
    border-color: rgb(117, 119, 122);
    height: 462px;
    width:481px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 1%
    
}

#Chart18 {
    border-color: rgb(117, 119, 122);
    height: 461px;
    width:583px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 1%
}

#Chart19 {
    border-color: rgb(117, 119, 122);
    height: 410px;
    width:504px;
    display: block;
    margin-left: 29%;
    margin-right: 10%;

}

#Chart20 {
    border-color: rgb(117, 119, 122);
    height: 410px;
    width:504px;
    display: block;
    margin-left: 29%;
    margin-right: 10%;

}

#Chart21 {
    border-color: rgb(117, 119, 122);
    height: 498px;
    width:682px;
    display: block;
    margin-left: 21.5%;
    margin-right: 10%;
}

#Chart22 {
    border-color: rgb(117, 119, 122);
    height: 526px;
    width:696px;
    display: block;
    margin-left: 21.5%;
    margin-right: 10%;
}

    

    



