/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(102, 100, 100);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 800px;
    background-color: rgb(215, 248, 253);


    border-width: 3px;
    border-style: dotted;
    border-radius: 30px
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(172, 240, 195);
    width: 350px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(186, 187, 187);
    display: block; 
    margin-left: 25%;
    margin-right: 10%;
    width: 46%;
    /* use lines 44 to 47 to align a diagram or picture in the middle of the page. Width will determind how big the border around the image will be */
    
    
}
 


#Chart2{
    border-color: rgb(186, 187, 187);
    width:350px
    
    
}
    
